/* #navigation  */
#logo img {
  height: 77px;
  margin: 1px 2px;
}
#navbar {
  flex-direction: column;
  padding-bottom: 8px;
}
#navbar ul li{
    font-size: 0.7rem;
}


/* home section */
#home {
  margin-top: 100px;
  
  padding: 2px 20px;
}
#home::before {
  height: 1100px;
}

#home p {
  font-size: 1rem;
}

/* srvices */
#services {
  margin: 20px;
  flex-direction: column;
}
#services p{
    font-size: 1.4rem;
}


.services-container {
  margin-top: 314px;
}
#services .bpx {
  margin: 10px 3px;
  height: 400px;
  border-radius: 15px;
}
.happy{
    width: 100px;
}
/* client section */
#clients{
    flex-wrap: wrap;
}
#client-section::before{
    height: 150%;
}
#clients img{
    height: auto;
    width: 21px;
    padding:  1px 3px;
}
/* contaact us   */
#contact{
    margin-top: 185px;
}
#contact-box label {
  font-size: 1.3rem;
  text-shadow: -3px 2px white;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.7rem;
    border-radius: 3%;
    font-size: 0.8rem;
}

/* utility class */

.h-primary {
  font-size: 1.5rem;
  padding: 40px;
}
.h-secondary {

  font-size: 1.5rem;
  padding: 1px;
 
}
.btn{
    font-size: 1.3rem;
    padding: 9px 14px;
    box-shadow: -2px 2px white;
}
